<!-- views/testView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>INVALID POSTCODE</title>
</head>

<body id="home">
	<p1>Please enter a valid London postcode into the URL</p1>
	
</body>
</html>